
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/recipient.css">
    <title>ajBank</title>
</head>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/ajBank}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle reg-4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Accounts </b><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  th:href="@{/account/primaryAccount}">Primary</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/account/savingsAccount}">Savings</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle reg-4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Transfer </b><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/transfer/betweenAccounts}">Between Accounts</a></li>
                        <li><a th:href="@{/transfer/toSomeoneElse}">To Someone Else</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/transfer/recipient}">Add/Edit Recipient</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle reg-4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Appointment </b><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/appointment/create}">Schedule an Appointment</a></li>
                    </ul>
                </li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle reg-4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Me </b><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/user/profile}">Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </li>
        </ul>
        </div>
      </nav>
    
    <div class="mt-4">
        <div class="jumbotron" id="reg-3">
            <img src="/images/logo (5).png" alt="AJ Bank" height="300px" width="300px"> 
           </div>
    </div>
    
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h3 class="reg-5">Recipient Information</h3>
            <form th:action="@{/transfer/recipient/save}" method="post">
                <input type="hidden" name="id" th:value="${recipient.id}" />

                <div class="form-group">
                    <label class="reg-5" for="recipientName">Name</label>
                    <input type="text" class="form-control" th:value="${recipient.name}" name="name"
                           id="recipientName" placeholder="Name"/>
                </div>

                <div class="form-group">
                    <label class="reg-5" for="recipientUsername">UserName</label>
                    <input type="text" class="form-control" th:value="${recipient.name}" name="username"
                           id="recipientUsername" placeholder="Username"/>
                </div>

                <div class="form-group">
                    <label for="recipientEmail" class="reg-5">Email</label>
                    <input type="email" class="form-control" th:value="${recipient.email}" name="email"
                           id="recipientEmail" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="recipientPhone" class="reg-5">Phone</label>
                    <input type="text" class="form-control" th:value="${recipient.phone}" name="phone"
                           id="recipientPhone" placeholder="Phone"/>
                </div>
                <div class="form-group">
                    <label for="recipientAccountNumber" class="reg-5">Account Number</label>
                    <input type="text" class="form-control" th:value="${recipient.accountNumber}"
                           name="accountNumber" id="recipientAccountNumber" placeholder="Account Number"/>
                </div>

                <div class="form-group">
                    <label for="recipientAccountType" class="reg-5">Account Type</label>
                    <input type="text" class="form-control" th:value="${recipient.accountType}"
                           name="accountType" id="recipientAccountType" placeholder="Account Type"/>
                </div>

                <div class="form-group">
                    <label for="recipientDescription" class="reg-5">Description</label>
                    <textarea class="form-control" th:value="${recipient.description}" name="description"
                              id="recipientDescription" placeholder="Description" th:text="${recipient.description}"></textarea>
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-primary" type="submit">Add/Edit Recipient</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <h3 class="reg-5">List of Recipients</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="reg-5">Recipient Name</th>
                    <th class="reg-5">Recipient Username</th>
                    <th class="reg-5">Recipient Email</th>
                    <th class="reg-5">Recipient Phone</th>
                    <th class="reg-5">Recipient Account Number</th>
                    <th class="reg-5">Recipient Account Type</th>
                    <th class="reg-5">Description</th>
                    <th class="reg-5"></th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="eachRecipient : ${recipientList}">
                    <td><a data-th-text="${eachRecipient.name}" th:href="@{/transfer/recipient/edit?recipientName=}+${eachRecipient.name}">...</a></td>
                    <td data-th-text="${eachRecipient.username}">...</td>
                    <td data-th-text="${eachRecipient.email}">...</td>
                    <td data-th-text="${eachRecipient.phone}">...</td>
                    <td data-th-text="${eachRecipient.accountNumber}">...</td>
                    <td data-th-text="${eachRecipient.accountType}">...</td>
                    <td data-th-text="${eachRecipient.description}">...</td>
                    <td><a th:href="@{/transfer/recipient/delete?recipientName=}+${eachRecipient.name}">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
